@font-face {
  font-family: 'BerlinSansFB';
  src: url('../fonts/BRLNSR.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    --height-header: 150px;
    --main-colors: #1b1b1b;
    --container-color: #1b1b1be0;
}

* {
  max-width: 100vw;
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
    

}


html, body {
  margin: 0;
  padding: 0;
  
  display: flex;
  flex-direction: column;
  background-color: black;

}

p, a, h1, h2, h3, h4, th, td {
  font-family: 'BerlinSansFB';
  color: white;
}

p, a, th, td {
    font-size: 20px;
}

main {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.Background {
  /* Bakground image */
  /* background-image: url('../images/background.jpg'); */
  background-image: url('../images/background1.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;

  /*  Blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Positioning */
  z-index: 2;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  animation: slider 30s infinite linear;
}

@keyframes slider {
    0%   { 
        opacity: 0;
    }
    2%, 31.3% {
        opacity: 1;
        background-image: url('../images/background1.jpg');
    }
    33.3%  { 
        opacity: 0;
    }
    35.3%, 64.6%  {
        opacity: 1;
        background-image: url('../images/background2.jpg');
    }
    66.6% { 
        opacity: 0; 
    }
    68.6%, 98% {
        opacity: 1;
        background-image: url('../images/background3.jpg');
    }
    100% {
        opacity: 0;
    }
}

header {
  display: flex;
  height: var(--height-header);
  width: 100%;
  top: 0px;
  left: 0px;

  flex-direction: column;

  z-index: 99999;
  position: sticky;
  color: white;
  background-color: #1b1b1b;
}

.Logo {
  transform: scale(2);
  height: 150px;
  width: 150px;
  margin-right: auto;
  margin-left: auto;

  background-image: url('../images/rafikilogo.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

footer {
  display: flex;
  position: fixed;
  
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;

  bottom: 0px;

  z-index: 9999;
  font-size: 30px;
  
  padding-top: 10px;
  padding-bottom: 20px;

  background-color: #1b1b1b;

}


/* Inherit visability from parent to show icons */
footer #Socials {
  display: inherit;
}

/* Used for adding a dropshadow to elements */
.BoxShadow {
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
}

/* First and last element of main should have a margin to not be covered from the header and footer */
main  > :first-child {
  margin-top: 50px;
}

main > :last-child {
  margin-bottom: 100px;
}

.Container {
  width: 500px;

  max-width: 100%;
  /* min-height: 70vh; */

  margin-top: 20px;
  margin-bottom: 20px;
  
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;

  background-color: #1b1b1be0;

  z-index: 3;

  justify-content: center;

  /* 
    Set the scroll margin top on all containers, also added 2.5em for som room over the element
    Source: https://stackoverflow.com/questions/38069213/add-padding-top-to-scroll-when-using-href-id
  */
  scroll-margin-top: calc(var(--height-header) + 2.5em);

}

.Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Openhours {
    display: flex;
    justify-content: center;
    align-items: center;   
}


/* Changes on large screens */
@media (max-width: 768px) {

  .Container {
    max-width: 75vw;
  }
  /* Change layout of the footer to columns instead of row */
  footer {
    flex-direction: column;
    position: relative;

    height: 100%;
  }

  footer #Socials {
    display: flex;
    flex-direction: row;
  }
}

.Icon {
  height: 50px;
  width: 50px;
  margin: 15px;
}

.TwitterIcon {
  background-image: url('../images/twitter-fill.svg');
  background-repeat: no-repeat;
}

.FacebookIcon {
  background-image: url('../images/facebook-circle-fill.svg');
  background-repeat: no-repeat;
}

.InstagramIcon {
  background-image: url('../images/instagram-fill.svg');
  background-repeat: no-repeat;
}




